In [103]:
import pandas as pd
import numpy as np
iris_data = pd.read_csv(r"C:\Users\arcan\OneDrive\My Documents\Data21\iris.csv")

In [101]:
iris_data

     sepal_length  sepal_width  petal_length  petal_width    species   rank
0             5.1          3.5           1.4          0.2     setosa   17.5
1             4.9          3.0           1.4          0.2     setosa   17.5
2             4.7          3.2           1.3          0.2     setosa    8.0
3             4.6          3.1           1.5          0.2     setosa   30.5
4             5.0          3.6           1.4          0.2     setosa   17.5
..            ...          ...           ...          ...        ...    ...
145           6.7          3.0           5.2          2.3  virginica  117.5
146           6.3          2.5           5.0          1.9  virginica  106.5
147           6.5          3.0           5.2          2.0  virginica  117.5
148           6.2          3.4           5.4          2.3  virginica  121.5
149           5.9          3.0           5.1          1.8  virginica  112.5

[150 rows x 6 columns]

In [42]:
grouped = iris_data.groupby('species').mean()

In [43]:
grouped

            sepal_length  sepal_width  petal_length  petal_width
species
setosa             5.006        3.418         1.464        0.244
versicolor         5.936        2.770         4.260        1.326
virginica          6.588        2.974         5.552        2.026

In [27]:
iris_data.head(10)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
7           5.0          3.4           1.5          0.2  setosa
8           4.4          2.9           1.4          0.2  setosa
9           4.9          3.1           1.5          0.1  setosa

In [28]:
iris_data.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [81]:
new_iris_df = iris_data.reindex(columns=['sepal_length',
                                         'sepal_width','petal_length',
                                         'petal_width', 'species','rank'])
new_iris_df["rank"] = iris_data["petal_length"].rank()
new_iris_df.sort_values(by="rank")

     sepal_length  sepal_width  petal_length  petal_width    species   rank
22            4.6          3.6           1.0          0.2     setosa    1.0
13            4.3          3.0           1.1          0.1     setosa    2.0
14            5.8          4.0           1.2          0.2     setosa    3.5
35            5.0          3.2           1.2          0.2     setosa    3.5
36            5.5          3.5           1.3          0.2     setosa    8.0
..            ...          ...           ...          ...        ...    ...
131           7.9          3.8           6.4          2.0  virginica  146.0
105           7.6          3.0           6.6          2.1  virginica  147.0
117           7.7          3.8           6.7          2.2  virginica  148.5
122           7.7          2.8           6.7          2.0  virginica  148.5
118           7.7          2.6           6.9          2.3  virginica  150.0

[150 rows x 6 columns]

In [51]:
petal_rank = iris_data.sort_values(by='petal_length')
petal_rank

     sepal_length  sepal_width  petal_length  petal_width    species
22            4.6          3.6           1.0          0.2     setosa
13            4.3          3.0           1.1          0.1     setosa
14            5.8          4.0           1.2          0.2     setosa
35            5.0          3.2           1.2          0.2     setosa
36            5.5          3.5           1.3          0.2     setosa
..            ...          ...           ...          ...        ...
131           7.9          3.8           6.4          2.0  virginica
105           7.6          3.0           6.6          2.1  virginica
117           7.7          3.8           6.7          2.2  virginica
122           7.7          2.8           6.7          2.0  virginica
118           7.7          2.6           6.9          2.3  virginica

[150 rows x 5 columns]

In [53]:
new_grouped = new_iris_df.groupby('species').mean()
new_grouped

            sepal_length  sepal_width  petal_length  petal_width  rank
species
setosa             5.006        3.418         1.464        0.244   NaN
versicolor         5.936        2.770         4.260        1.326   NaN
virginica          6.588        2.974         5.552        2.026   NaN

            sepal_length  sepal_width  petal_length  petal_width  rank
species
setosa             5.006        3.418         1.464        0.244   NaN
versicolor         5.936        2.770         4.260        1.326   NaN
virginica          6.588        2.974         5.552        2.026   NaN

In [84]:
setosa_df = new_iris_df[new_iris_df['species'] == 'setosa']
setosa_df

    sepal_length  sepal_width  petal_length  petal_width species  rank
0            5.1          3.5           1.4          0.2  setosa  17.5
1            4.9          3.0           1.4          0.2  setosa  17.5
2            4.7          3.2           1.3          0.2  setosa   8.0
3            4.6          3.1           1.5          0.2  setosa  30.5
4            5.0          3.6           1.4          0.2  setosa  17.5
5            5.4          3.9           1.7          0.4  setosa  46.5
6            4.6          3.4           1.4          0.3  setosa  17.5
7            5.0          3.4           1.5          0.2  setosa  30.5
8            4.4          2.9           1.4          0.2  setosa  17.5
9            4.9          3.1           1.5          0.1  setosa  30.5
10           5.4          3.7           1.5          0.2  setosa  30.5
11           4.8          3.4           1.6          0.2  setosa  41.0
12           4.8          3.0           1.4          0.1  setosa  17.5
13           4.3          3.0           1.1          0.1  setosa   2.0
14           5.8          4.0           1.2          0.2  setosa   3.5
15           5.7          4.4           1.5          0.4  setosa  30.5
16           5.4          3.9           1.3          0.4  setosa   8.0
17           5.1          3.5           1.4          0.3  setosa  17.5
18           5.7          3.8           1.7          0.3  setosa  46.5
19           5.1          3.8           1.5          0.3  setosa  30.5
20           5.4          3.4           1.7          0.2  setosa  46.5
21           5.1          3.7           1.5          0.4  setosa  30.5
22           4.6          3.6           1.0          0.2  setosa   1.0
23           5.1          3.3           1.7          0.5  setosa  46.5
24           4.8          3.4           1.9          0.2  setosa  49.5
25           5.0          3.0           1.6          0.2  setosa  41.0
26           5.0          3.4           1.6          0.4  setosa  41.0
27           5.2          3.5           1.5          0.2  setosa  30.5
28           5.2          3.4           1.4          0.2  setosa  17.5
29           4.7          3.2           1.6          0.2  setosa  41.0
30           4.8          3.1           1.6          0.2  setosa  41.0
31           5.4          3.4           1.5          0.4  setosa  30.5
32           5.2          4.1           1.5          0.1  setosa  30.5
33           5.5          4.2           1.4          0.2  setosa  17.5
34           4.9          3.1           1.5          0.1  setosa  30.5
35           5.0          3.2           1.2          0.2  setosa   3.5
36           5.5          3.5           1.3          0.2  setosa   8.0
37           4.9          3.1           1.5          0.1  setosa  30.5
38           4.4          3.0           1.3          0.2  setosa   8.0
39           5.1          3.4           1.5          0.2  setosa  30.5
40           5.0          3.5           1.3          0.3  setosa   8.0
41           4.5          2.3           1.3          0.3  setosa   8.0
42           4.4          3.2           1.3          0.2  setosa   8.0
43           5.0          3.5           1.6          0.6  setosa  41.0
44           5.1          3.8           1.9          0.4  setosa  49.5
45           4.8          3.0           1.4          0.3  setosa  17.5
46           5.1          3.8           1.6          0.2  setosa  41.0
47           4.6          3.2           1.4          0.2  setosa  17.5
48           5.3          3.7           1.5          0.2  setosa  30.5
49           5.0          3.3           1.4          0.2  setosa  17.5

In [97]:
versicolor_df = iris_data[iris_data['species'] == 'versicolor'].reset_index()
# drop index column drop(columns=index)
versicolor_df = versicolor_df.drop(columns="index")
versicolor_df

    sepal_length  sepal_width  petal_length  petal_width     species   rank
0            7.0          3.2           4.7          1.4  versicolor   93.0
1            6.4          3.2           4.5          1.5  versicolor   83.5
2            6.9          3.1           4.9          1.5  versicolor  102.0
3            5.5          2.3           4.0          1.3  versicolor   64.0
4            6.5          2.8           4.6          1.5  versicolor   89.0
5            5.7          2.8           4.5          1.3  versicolor   83.5
6            6.3          3.3           4.7          1.6  versicolor   93.0
7            4.9          2.4           3.3          1.0  versicolor   52.5
8            6.6          2.9           4.6          1.3  versicolor   89.0
9            5.2          2.7           3.9          1.4  versicolor   60.0
10           5.0          2.0           3.5          1.0  versicolor   54.5
11           5.9          3.0           4.2          1.5  versicolor   71.5
12           6.0          2.2           4.0          1.0  versicolor   64.0
13           6.1          2.9           4.7          1.4  versicolor   93.0
14           5.6          2.9           3.6          1.3  versicolor   56.0
15           6.7          3.1           4.4          1.4  versicolor   77.5
16           5.6          3.0           4.5          1.5  versicolor   83.5
17           5.8          2.7           4.1          1.0  versicolor   68.0
18           6.2          2.2           4.5          1.5  versicolor   83.5
19           5.6          2.5           3.9          1.1  versicolor   60.0
20           5.9          3.2           4.8          1.8  versicolor   97.5
21           6.1          2.8           4.0          1.3  versicolor   64.0
22           6.3          2.5           4.9          1.5  versicolor  102.0
23           6.1          2.8           4.7          1.2  versicolor   93.0
24           6.4          2.9           4.3          1.3  versicolor   74.5
25           6.6          3.0           4.4          1.4  versicolor   77.5
26           6.8          2.8           4.8          1.4  versicolor   97.5
27           6.7          3.0           5.0          1.7  versicolor  106.5
28           6.0          2.9           4.5          1.5  versicolor   83.5
29           5.7          2.6           3.5          1.0  versicolor   54.5
30           5.5          2.4           3.8          1.1  versicolor   58.0
31           5.5          2.4           3.7          1.0  versicolor   57.0
32           5.8          2.7           3.9          1.2  versicolor   60.0
33           6.0          2.7           5.1          1.6  versicolor  112.5
34           5.4          3.0           4.5          1.5  versicolor   83.5
35           6.0          3.4           4.5          1.6  versicolor   83.5
36           6.7          3.1           4.7          1.5  versicolor   93.0
37           6.3          2.3           4.4          1.3  versicolor   77.5
38           5.6          3.0           4.1          1.3  versicolor   68.0
39           5.5          2.5           4.0          1.3  versicolor   64.0
40           5.5          2.6           4.4          1.2  versicolor   77.5
41           6.1          3.0           4.6          1.4  versicolor   89.0
42           5.8          2.6           4.0          1.2  versicolor   64.0
43           5.0          2.3           3.3          1.0  versicolor   52.5
44           5.6          2.7           4.2          1.3  versicolor   71.5
45           5.7          3.0           4.2          1.2  versicolor   71.5
46           5.7          2.9           4.2          1.3  versicolor   71.5
47           6.2          2.9           4.3          1.3  versicolor   74.5
48           5.1          2.5           3.0          1.1  versicolor   51.0
49           5.7          2.8           4.1          1.3  versicolor   68.0

In [98]:
virginica_df = iris_data[iris_data['species'] == 'virginica'].reset_index()
# drop index column drop(columns=index)
virginica_df = virginica_df.drop(columns="index")
virginica_df

    sepal_length  sepal_width  petal_length  petal_width    species   rank
0            6.3          3.3           6.0          2.5  virginica  140.5
1            5.8          2.7           5.1          1.9  virginica  112.5
2            7.1          3.0           5.9          2.1  virginica  138.5
3            6.3          2.9           5.6          1.8  virginica  128.5
4            6.5          3.0           5.8          2.2  virginica  136.0
5            7.6          3.0           6.6          2.1  virginica  147.0
6            4.9          2.5           4.5          1.7  virginica   83.5
7            7.3          2.9           6.3          1.8  virginica  145.0
8            6.7          2.5           5.8          1.8  virginica  136.0
9            7.2          3.6           6.1          2.5  virginica  143.0
10           6.5          3.2           5.1          2.0  virginica  112.5
11           6.4          2.7           5.3          1.9  virginica  119.5
12           6.8          3.0           5.5          2.1  virginica  124.0
13           5.7          2.5           5.0          2.0  virginica  106.5
14           5.8          2.8           5.1          2.4  virginica  112.5
15           6.4          3.2           5.3          2.3  virginica  119.5
16           6.5          3.0           5.5          1.8  virginica  124.0
17           7.7          3.8           6.7          2.2  virginica  148.5
18           7.7          2.6           6.9          2.3  virginica  150.0
19           6.0          2.2           5.0          1.5  virginica  106.5
20           6.9          3.2           5.7          2.3  virginica  133.0
21           5.6          2.8           4.9          2.0  virginica  102.0
22           7.7          2.8           6.7          2.0  virginica  148.5
23           6.3          2.7           4.9          1.8  virginica  102.0
24           6.7          3.3           5.7          2.1  virginica  133.0
25           7.2          3.2           6.0          1.8  virginica  140.5
26           6.2          2.8           4.8          1.8  virginica   97.5
27           6.1          3.0           4.9          1.8  virginica  102.0
28           6.4          2.8           5.6          2.1  virginica  128.5
29           7.2          3.0           5.8          1.6  virginica  136.0
30           7.4          2.8           6.1          1.9  virginica  143.0
31           7.9          3.8           6.4          2.0  virginica  146.0
32           6.4          2.8           5.6          2.2  virginica  128.5
33           6.3          2.8           5.1          1.5  virginica  112.5
34           6.1          2.6           5.6          1.4  virginica  128.5
35           7.7          3.0           6.1          2.3  virginica  143.0
36           6.3          3.4           5.6          2.4  virginica  128.5
37           6.4          3.1           5.5          1.8  virginica  124.0
38           6.0          3.0           4.8          1.8  virginica   97.5
39           6.9          3.1           5.4          2.1  virginica  121.5
40           6.7          3.1           5.6          2.4  virginica  128.5
41           6.9          3.1           5.1          2.3  virginica  112.5
42           5.8          2.7           5.1          1.9  virginica  112.5
43           6.8          3.2           5.9          2.3  virginica  138.5
44           6.7          3.3           5.7          2.5  virginica  133.0
45           6.7          3.0           5.2          2.3  virginica  117.5
46           6.3          2.5           5.0          1.9  virginica  106.5
47           6.5          3.0           5.2          2.0  virginica  117.5
48           6.2          3.4           5.4          2.3  virginica  121.5
49           5.9          3.0           5.1          1.8  virginica  112.5

In [104]:
petal_info = iris_data.drop(columns=["sepal_width", "sepal_length"])
petal_info

     petal_length  petal_width    species
0             1.4          0.2     setosa
1             1.4          0.2     setosa
2             1.3          0.2     setosa
3             1.5          0.2     setosa
4             1.4          0.2     setosa
..            ...          ...        ...
145           5.2          2.3  virginica
146           5.0          1.9  virginica
147           5.2          2.0  virginica
148           5.4          2.3  virginica
149           5.1          1.8  virginica

[150 rows x 3 columns]

In [105]:
sepal_info = iris_data.drop(columns=["petal_width", "petal_length"])
sepal_info

     sepal_length  sepal_width    species
0             5.1          3.5     setosa
1             4.9          3.0     setosa
2             4.7          3.2     setosa
3             4.6          3.1     setosa
4             5.0          3.6     setosa
..            ...          ...        ...
145           6.7          3.0  virginica
146           6.3          2.5  virginica
147           6.5          3.0  virginica
148           6.2          3.4  virginica
149           5.9          3.0  virginica

[150 rows x 3 columns]

In [107]:
# virginica_df, versicolor_df, setosa_df
frames = [virginica_df, versicolor_df, setosa_df]
result = pd.concat(frames)
result
#ignore index set to false

    sepal_length  sepal_width  petal_length  petal_width    species   rank
0            6.3          3.3           6.0          2.5  virginica  140.5
1            5.8          2.7           5.1          1.9  virginica  112.5
2            7.1          3.0           5.9          2.1  virginica  138.5
3            6.3          2.9           5.6          1.8  virginica  128.5
4            6.5          3.0           5.8          2.2  virginica  136.0
..           ...          ...           ...          ...        ...    ...
45           4.8          3.0           1.4          0.3     setosa   17.5
46           5.1          3.8           1.6          0.2     setosa   41.0
47           4.6          3.2           1.4          0.2     setosa   17.5
48           5.3          3.7           1.5          0.2     setosa   30.5
49           5.0          3.3           1.4          0.2     setosa   17.5

[150 rows x 6 columns]

In [108]:
# petal_info, sepal_info
merge_species = pd.merge(sepal_info, petal_info, left_index=True, right_index=True)
merge_species
# Then drop columns that appear multiple times.

,sepal_length,sepal_width,species_x,petal_length,petal_width,species_y
0,5.1,3.5,setosa,1.4,0.2,setosa
1,4.9,3.0,setosa,1.4,0.2,setosa
2,4.7,3.2,setosa,1.3,0.2,setosa
3,4.6,3.1,setosa,1.5,0.2,setosa
4,5.0,3.6,setosa,1.4,0.2,setosa
...,...,...,...,...,...,...
145,6.7,3.0,virginica,5.2,2.3,virginica
146,6.3,2.5,virginica,5.0,1.9,virginica
147,6.5,3.0,virginica,5.2,2.0,virginica
148,6.2,3.4,virginica,5.4,2.3,virginica
149,5.9,3.0,virginica,5.1,1.8,virginica